{% set arr = range(0, 10) %}
{% set count = 3 %}

<p><code>arr:</code> {{ arr | dump }}</p>
{# expected: [0,1,2,3,4,5,6,7,8,9] #}

<p><code>arr | batch({{ count }}):</code> {{ arr | batch(count) | dump }}</p>
{# expected: [[0,1,2], [3,4,5], [6,7,8], [9]] #}

<p><code>arr | batch({{ count }}) | first:</code> {{ arr | batch(count) | first | dump }}</p>
{# expected: [0,1,2] #}

<hr/>

<p><code>arr | limit:</code> {{ arr | limit | dump }}</p>
{# expected: [0,1,2,3,4,5,6,7,8,9] #}

<p><code>arr | limit({{ count }}):</code> {{ arr | limit(count) | dump }}</p>
{# expected: [0,1,2] #}

<p><code>arr | limit(-{{ count }}):</code> {{ arr | limit(-count) | dump }}</p>
{# expected: [7,8,9] #}

<p><code>arr | reverse | limit({{ count }}):</code> {{ arr | reverse | limit(count) | dump }}</p>
{# expected: [9,8,7] #}
